{% extends "accounts/base.html" %}
{% block content %}
<a href="{% url 'login' %}">Back to login</a>
<h1>Student</h1>
<form method="get" class="d-flex mb-3" style="gap: 10px;">
  <input type="text" name="q" value="{{ query }}" placeholder="Search..." class="form-control" style="max-width: 250px;">
  <button type="submit" class="btn btn-primary">Search</button>
</form>
<table class="table ">
  <thead>
    <tr>
      <th>Full name</th>
      <th>Username</th>
      <th>Department</th>
      <th>Joined</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for s in students %}
    <tr>
      <td>{{ s.user.full_name }}</td>
      <td>{{ s.user.username }}</td>
      <td>{{ s.department }}</td>
      <td>{{ s.date_joined }}</td>
      <td>
        <a  href="{% url 'student-detail-page' user_id=s.user.id %} ">View</a>
        <a  href="{% url 'student-edit-page' user_id=s.user.id %}">Edit</a>
      </td>
    </tr>
    {% empty %}
    <tr>
        <td>No students found.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}