{% extends "accounts/base.html" %}
{% block content %}
<a href="{% url 'students-list-page' %}">Back to list</a>

<h1>{{ student.user.full_name }}</h1>

    <p><strong>Username</strong>: {{ student.user.username }}</p>
    <p><strong>Email</strong>: {{ student.user.email }}</p>
    <p><strong>User type</strong>:{{ student.user.user_type }}</p>
    <p><strong>Active</strong>:{{ student.user.is_active }}</p>
    <p><strong>Department</strong>: {{ student.department }}</p>
    <p><strong>Joined</strong>:{{ student.date_joined }}</p>
    

<p><a href="{% url 'student-edit-page' user_id=student.user_id %}">Edit</a></p>

<h2>Grades</h2>
{% if grades %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Course code</th>
        <th>Course title</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      {% for g in grades %}
        <tr>
            <td>{{ g.course.code }}</td>
            <td>{{ g.course.title }}</td>
            <td>{{ g.score }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>No grades yet.</p>
{% endif %}
{% endblock %}
